/* section */
.conteiner {
    width: 1200px;
    margin: 0 auto;
    background-color: lightblue;
}
.block {
    width: 270px;
    height: 270px;
    background-color:blue;
}
.row1 {
    display: flex;
    justify-content: space-between;
}
.blue-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col {
    background-color: orange;
}
.feri {
    background-color: white;
}
.shua {
    display: flex;
    justify-content: space-between;
}